#calculator{
height: 250px;
width: 500px;
background-color: #403D3E;
padding:10px;

border:1px solid black;   /* default border */ 

	-moz-border-radius:10px;    /* radius for firefox */ 

	-webkit-border-radius:10px; /* radius for safari, chrome, etc */ 


margin:auto;

}

#screen{
	height: 100px;
	width: 470px;
	margin:auto;
	
	
	margin-bottom:10px;
	
	background-color: gray;

	text-align: right;
	color:black;
	font-size: xx-large;
	
	border:1px solid black;   /* default border */ 

	-moz-border-radius:10px;    /* radius for firefox */ 

	-webkit-border-radius:10px; /* radius for safari, chrome, etc */ 

}

#button-array{
	height: 180px;
	width: 470px;
	margin:auto;
	
}

#number-button-array{
	height: 165px;
	width: 165px;
	
	
	float:right;
}

.number-button{
	height: 28px;
	width: 48px;
	background-color: #F2EDEF;
	margin: 2px;
	float: left;
	
	text-align: center;
	
	border:1px solid #000000;   /* default border */ 
	-moz-border-radius:6px;    /* radius for firefox */ 
	-webkit-border-radius:6px; /* radius for safari, chrome, etc */
}


.enter-button{
	height: 28px;
	width: 98px;
	background-color: #F2EDEF;
	margin: 2px;
	float: left;
	
	text-align: center;
	
	border:1px solid #000000;   /* default border */ 
	-moz-border-radius:6px;    /* radius for firefox */ 
	-webkit-border-radius:6px; /* radius for safari, chrome, etc */
}
.enter-button:hover{	
	background-color: #A19D9E;	
}
.function-button:hover{	
	background-color: #A19D9E;	
}
.number-button:hover{	
	background-color: #A19D9E;	
}

.function-button{
	height: 28px;
	width: 48px;
	background-color: #F2EDEF;
	margin: 2px;
	float: left;
	
	text-align: center;
	
	border:1px solid #000000;   /* default border */ 
	-moz-border-radius:6px;    /* radius for firefox */ 
	-webkit-border-radius:6px; /* radius for safari, chrome, etc */
}



#console{
	
	width: 600px;
	margin:auto;
	
	margin-top: 50px;
	
	margin-bottom:10px;
	
	background-color: black;

	text-align: right;
	color:lime;
	
	padding: 10px;
	
	border:1px solid black;   /* default border */ 

	-moz-border-radius:10px;    /* radius for firefox */ 

	-webkit-border-radius:10px; /* radius for safari, chrome, etc */ 

}
